@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
    font-family: 'Audrey';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}